.break { width:70%; margin:3rem auto; }

.shows p { text-transform: uppercase; font-size: 15px; text-align:center; }

#main > .shows { padding-top:3rem!important; }
#main > .shows h1 { margin-bottom:2em; }
#main > .photos h1 { margin-bottom:2em; }
