.break { width:70%; margin:3rem auto; }

.shows p { text-transform: uppercase; font-size: 15px; text-align:center; }

#main > .shows { padding-top:3rem!important; }
#main > .shows h1 { margin-bottom:2em; }
#main > .photos h1 { margin-bottom:2em; }

#main > .bio h1 { margin-bottom: .3em!important; }
.text-center > p { text-align: center!important; }
#main > .bio p { text-align: inherit; font-size:17px!important; text-transform: none;}

.epk-social .fa-facebook-f { color:#1877f2; }

.epk-social .fa-spotify {  color:#1ed760; }

.epk-social .fa-instagram { color:#c32aa3;  }

.epk-social .fa-youtube { color: #ff0000; }
ul.epk-social li .icon:before { font-size:1.5rem!important;}

@media (max-width:990px) {

  #navPanel .links li a  { color:black!important; text-decoration: none; font-size:1.1rem!important;}
  #navPanel .icon { color:black!important; }
}

@media (max-width:767px) {

  .masonry-grid > div { display:block; width:100%; }
  .grid-wrapper > div {
    grid-column: span 2;
    grid-row: span 2;
}
#wrapper > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../images/themilestones-band-bg-mobile.jpg");
  background-size: auto,								auto,														100% auto;
  background-position: center,								center,														center center;
  background-repeat: repeat,								no-repeat,													no-repeat;
  background-attachment: scroll,								scroll,														scroll;
  z-index: -1;
  background-size:cover;
}
}
